<%= form_for @user do |f| %>
<div class="card">
 <div class="card-block">
  <%= render 'fields', f: f %>
  <!-- <div class='form-group'> -->
    <%= f.submit '追加', class: 'btn btn-success' %>
  <!-- </div> -->
  </div>
  </div>
<% end %>
